.aside {
  min-height: 100vh;
  height: 100%;
  max-width: 600px;
  width: 100%;
  background-color: #2b2f3e;
  padding: 10px;
}

.aside__heading {
  color: white;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  text-transform: lowercase;
}

.aside__sub-heading {
  color: #5b5d63;
  font-size: 16px;
}
